@{
    var showProductSidebar = ViewData["showProductSidebar"] as bool? == true;
    var showAdminSidebar = ViewData["showSidebar"] as bool? == true;
    var maxPrice = (decimal?)ViewData["MaxPrice"];
}

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="icon" href="/Images/icon-v3.ico" type="image/x-icon" />
    <link rel="icon" href="/Images/icon.png" type="image/png" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matric inc. | @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" /> 
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-page="/Index">Matrix Inc.</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="search-container search-container-position">
                    <input type="text" id="navbarSearch" placeholder="Zoek producten..." />
                    <svg xmlns="http://www.w3.org/2000/svg"
                         onclick="searchProducts()"
                         viewBox="0 0 24 24" fill="none" stroke="#999" stroke-width="1.5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                    </svg>
                </div>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"> 
                            <a class="nav-link text-white position-relative margin-right" asp-page="/ShoppingCart">
                                <i class="bi bi-cart"></i> Winkelwagen
                                @if (Context.Session.GetInt32("CartItemCount") > 0)
                                {
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger margin-top">
                                        @Context.Session.GetInt32("CartItemCount")
                                    </span>
                                }
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-page="/Index">Index</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-page="/Products">Producten</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-page="/Admin">Admin</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row">
            @if (ViewData["showProductSidebar"] as bool? == true)
            {
                <nav class="col-md-2 d-none d-md-block sidebar vh-100 p-3 border-end" style="background-color: #e1e1e1;">
                    <h5 class="text-center category-header">Categorieën</h5>
                    <ul class="nav flex-column category-spacing" id="collapseCategories" style="color: black;">
                        @await Component.InvokeAsync("CategorySidebar")
                    </ul>
                    <hr />
                    <div class="price-filter">
                        <h6 class="text-center mb-3">Prijs filteren</h6>
                        <button class="btn btn-outline-primary w-100 mb-2" onclick="sortProducts('price-asc')">
                            <i class="bi bi-arrow-up"></i> Prijs laag - hoog
                        </button>
                        <button class="btn btn-outline-primary w-100" onclick="sortProducts('price-desc')">
                            <i class="bi bi-arrow-down"></i> Prijs hoog - laag
                        </button>
                        <div class="price-input price-slider">
                            <div class="field">
                                <span class="price-label">Vanaf (€)</span>
                                <input type="number" class="input-min" value="0">
                            </div>
                            <div class="separator">-</div>
                            <div class="field">
                                <span class="price-label">Tot (€)</span>
                                <input type="number" class="input-max" max="@maxPrice" value="@maxPrice">
                            </div>
                        </div>
                        <div class="slider">
                            <div class="progress"></div>
                        </div>
                        <div class="range-input" data-max-price="@maxPrice">
                            <input type="range" class="range-min" min="0" max="@maxPrice" value="0" step="10">
                            <input type="range" class="range-max" min="0" max="@maxPrice" value="@(maxPrice /2)" step="10">
                        </div>
                    </div>
                </nav>
            }
            else if (showAdminSidebar)
            {
                <nav class="col-md-2 d-none d-md-block bg-light sidebar vh-100 p-3 border-end">
                    <h5 class="text-center">Admin</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link d-flex justify-content-between align-items-center"
                               data-bs-toggle="collapse" href="#collapseProducts" role="button"
                               aria-expanded="false" aria-controls="collapseProducts" id="productsToggle">
                                Producten
                                <span class="arrow">&gt;</span>
                            </a>
                            <div class="collapse" id="collapseProducts">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Admin/AddProducts">Producten toevoegen</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Admin/AdminProducts">Producten lijst</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Admin/AdminCategories">Categorieën</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Admin/DelProducts">Verwijderde producten</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Admin/AdminOrders">Bestellingen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Admin/Customers">Klanten</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Admin/UserAuthorisation">Gebruikers-Beheerder</a>
                        </li>
                    </ul>
                </nav>
            }

            <main class="@((ViewData["showProductSidebar"] as bool? == true || ViewData["ShowSidebar"] as bool? == true) ? "col-md-10" : "col-12") py-3">
                @RenderBody()
            </main>
        </div>
    </div>


    <script src="@Url.Content("~/js/bootstrap.bundle.min.js")"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/js/productsfilter.js" asp-append-version="true"></script>
    <script src="~/js/search.js" asp-append-version="true"></script>
    <script src="~/js/rangeslider.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>




